.vacancy-detail-container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(15, 41, 62);
  color: #fff;
  margin-top: 60px;
}


h2 {
  text-align: center;
}
.result-item__button {
  padding: 10px;
  background-color: #428bca;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
