body {
  background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612765127_30-p-fon-goluboi-gorod-40.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #3d3d3d;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #3d3d3d;
  color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

input {
  width: 280px;
  padding: 8px;
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #555;
}

input::placeholder {
  color: #bbb;
}

button {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #686868;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #7b7b7b;
}

textarea {
  width: 280px;
  padding: 8px;
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #555;
  resize: vertical;
  min-height: 80px;
  resize: none;
}

textarea::placeholder {
  color: #bbb;
}
