<div class="main">
  <div class="search-page">
    <div class="search-bar">
      <input type="text" placeholder="Поиск вакансий">
      <select>
        <option value="187">Алматы</option>
        <option value="160">Астана</option>
      </select>
      <button>Найти</button>
    </div>
    <div class="search-results">
      <div class="result-item" *ngFor="let result of searchResults">
        <div class="result-item__title">{{ result.title }}</div>
        <div class="result-item__company">{{ result.company.name }}</div>
        <div class="result-item__salary">{{ result.salary }}</div>
        <div class="result-item__description">{{ result.description }}</div>
        <div>
          <button class="result-item__button">Подать</button>
        </div>
      </div>
    </div>
  </div>
</div>
