.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  background-color: rgb(15, 41, 62);
  padding-top: 100px;
  padding-bottom: 10px;
  margin-top: 20px;
  color: rgb(205, 205, 205);
}

.photoAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
  max-width: 1200px;
  width: 100%;
}


.photoAndText p {
  font-size: 40px;
  margin-left: 25px;
}

.photoAndText img {
  max-width: 50%;
  height: auto;
  border-radius: 15px;
  margin-right: 25px;
}

.contact {
  margin: 25px;
  align-self: flex-start;
}

.contact table {
  border-collapse: collapse;
  width: 100%;
}

.contact td {
  padding: 5px;
  font-size: 18px;
}

.contact td:first-child {
  text-align: left;
  font-weight: bold;
  width: 20%;
}

.contact td:last-child {
  text-align: left;
}

.contact td:last-child span {
  font-size: 14px;
}











