.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #f8f8f8;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(15, 41, 62, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
}

.buttonsForInfo {
  display: flex;
  align-items: center;
}

.buttonsForInfo button {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: rgb(15, 41, 62);
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.logo {
  background: radial-gradient(circle at 0 50%, transparent 60%, darkslateblue) no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 0 10px;
  border-radius: 50%;
}

.regButton {
  padding: 5px 10px;
  border: none;
  background-color: rgb(15, 41, 62) !important;
  color: #fff !important;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
}

.second {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  background-color: rgb(15, 41, 62);
  padding-top: 100px;
  padding-bottom: 10px;
  margin-top: 20px;
  color: rgb(205, 205, 205);
}

.photoAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
  max-width: 1200px;
  width: 100%;
}


.photoAndText p {
  font-size: 40px;
  margin-left: 25px;
}

.photoAndText img {
  max-width: 50%;
  height: auto;
  border-radius: 15px;
  margin-right: 25px;
}

.contact {
  margin: 25px;
  align-self: flex-start;
}

.contact table {
  border-collapse: collapse;
  width: 100%;
}

.contact td {
  padding: 5px;
  font-size: 18px;
}

.contact td:first-child {
  text-align: left;
  font-weight: bold;
  width: 20%;
}

.contact td:last-child {
  text-align: left;
}

.contact td:last-child span {
  font-size: 14px;
}











