<div class = "main">
  <div class="topMenu">
    <h1 class = "logo">HuntMe</h1>
    <div class="buttonsForInfo">
      <button routerLink="">Vacancy</button>
      <button routerLink="">About us</button>
      <button routerLink="">Contact</button>
      <button routerLink="/login">Sign In</button>
      <button routerLink="/registration" class = "regButton">Create Account</button>
    </div>
  </div>
  <div class = "second">
    <div class = "photoAndText">
      <p>Find the best job offer you.</p>
      <img src="https://sun9-64.userapi.com/impg/K6YK1c0SgUPDddO_a2oXslq1lJ3k8bkTzjlr9w/C2Pyq8XZ-KQ.jpg?size=1280x771&quality=95&sign=af7580c176c8bafb2466ecac346631d8&c_uniq_tag=BDk1O8e8eTqCkzzBTNTJGd3YAIIlrD42OUWV0kshmxM&type=album" style="width: 40%; height: auto;">
    </div>
    <div class="colicestvo">
      <h1>Jobs</h1>
      <h1>Vacancy</h1>
      <h1>Talent</h1>
    </div>
    <div class = "colicestvo2">
      <h1>Number |</h1>
      <h1>Number |</h1>
      <h1>Number</h1>
    </div>
  </div>
</div>
